*{
    box-sizing: border-box;
}

body {
    border: 20px solid rgb(241, 238, 255);
    margin: 0;
    width: 100%;
    overflow: auto;
}

header {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header > a {
    text-decoration: none;
    color: black;
}

header > div {
    width: 20%;
    position: fixed;
    right:0;
    clear: both;
    float: right;
    justify-content: space-evenly;
    align-items: center;
}

#sub {
    background-color: blue;
    height: 40px;
    width: 125px;
    border-radius: 25px;
    margin-top: 0;
    margin-bottom: 20px;
    border: none;
    color: white;
    display: inline-block
}

#linkedin {
    height: 40px;
    width: 40px;
    font-family: 'Lobster', cursive;
    font-size: 35px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 5px 5px 5px 5px;
    margin-left: 35px;
    margin-top: 35px;
    display: inline-flex;
}

.one {
    display: flex;
    background-color: rgb(241, 238, 255);
    height: 100vh;
    width: 95%;
    margin-top: 58px;
    margin-left: 74px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    margin-left: 150px;
    margin-top: 150px;
    margin-bottom: 0px;
    padding: 0;
}

h1 > div {
    font-size: 18px;
    text-decoration: none;
}

#view {
    background-color: blue;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: white;
    position: absolute;
    bottom: 80px;
    left: 245px;
}

#two {
    width: 95%;
    height: 75vh;
    background-color: rgb(245, 245, 245);
    margin-top: 160px;
    margin-left: 74px;
}

#two > img {
    float: left;
}

.headP {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

p {
    font-size: 18px; 
}

.rect {
    width: 95%;
    height:60vh;
    margin-top: 100px;
    margin-left: 74px;
}

#three {
    align-items: center;
    text-align: center;
    padding-top: 100px;
    background-image: none;
    margin-left: 3%;
}

#four {
    height: 100vh;
}

#five {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80vh;
}

.box {
    display: inline-block;
    width: 28%;
    margin: 25px;
    height: 60vh;
}

.box:nth-child(1){
    background-color: rgb(152, 71, 71);
}

.box:nth-child(2){
    background-color: green;
}

.box:nth-child(3){
    background-color: purple;
}

.box:nth-child(4){
    background-color: red;
}

.box:nth-child(5){
    background-color: blue;
}

#footer {
    width: auto;
    height: 150px;
    background-color: blue;

}
